<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.health.mapper.PetHealthMapper">
    
    <resultMap type="PetHealth" id="PetHealthResult">
        <result property="healthId"    column="health_id"    />
        <result property="petId"    column="pet_id"    />
        <result property="petName" column="pet_name"    />
        <result property="recordDate"    column="record_date"    />
        <result property="vaccineName"    column="vaccine_name"    />
        <result property="isSterilized"    column="is_sterilized"    />
        <result property="healthStatus"    column="health_status"    />
        <result property="description"    column="description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPetHealthVo">
        select
            h.health_id,
            h.pet_id,
            p.name as pet_name,
            h.record_date,
            h.vaccine_name,
            h.is_sterilized,
            h.health_status,
            h.description,
            h.create_by,
            h.create_time
        from tb_pet_health h
                 left join tb_pet p on h.pet_id = p.pet_id
    </sql>

    <select id="selectPetHealthList" parameterType="PetHealth" resultMap="PetHealthResult">
        <include refid="selectPetHealthVo"/>
        <where>  
            <if test="petId != null "> and pet_id = #{petId}</if>
            <if test="petName != null  and petName != ''"> and p.name like concat('%', #{petName}, '%')</if>
            <if test="recordDate != null "> and record_date = #{recordDate}</if>
            <if test="vaccineName != null  and vaccineName != ''"> and vaccine_name like concat('%', #{vaccineName}, '%')</if>
            <if test="isSterilized != null "> and is_sterilized = #{isSterilized}</if>
            <if test="healthStatus != null  and healthStatus != ''"> and health_status = #{healthStatus}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectPetHealthByHealthId" parameterType="Long" resultMap="PetHealthResult">
        <include refid="selectPetHealthVo"/>
        where health_id = #{healthId}
    </select>

    <insert id="insertPetHealth" parameterType="PetHealth" useGeneratedKeys="true" keyProperty="healthId">
        insert into tb_pet_health
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="petId != null">pet_id,</if>
            <if test="recordDate != null">record_date,</if>
            <if test="vaccineName != null">vaccine_name,</if>
            <if test="isSterilized != null">is_sterilized,</if>
            <if test="healthStatus != null">health_status,</if>
            <if test="description != null">description,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="petId != null">#{petId},</if>
            <if test="recordDate != null">#{recordDate},</if>
            <if test="vaccineName != null">#{vaccineName},</if>
            <if test="isSterilized != null">#{isSterilized},</if>
            <if test="healthStatus != null">#{healthStatus},</if>
            <if test="description != null">#{description},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePetHealth" parameterType="PetHealth">
        update tb_pet_health
        <trim prefix="SET" suffixOverrides=",">
            <if test="petId != null">pet_id = #{petId},</if>
            <if test="recordDate != null">record_date = #{recordDate},</if>
            <if test="vaccineName != null">vaccine_name = #{vaccineName},</if>
            <if test="isSterilized != null">is_sterilized = #{isSterilized},</if>
            <if test="healthStatus != null">health_status = #{healthStatus},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where health_id = #{healthId}
    </update>

    <delete id="deletePetHealthByHealthId" parameterType="Long">
        delete from tb_pet_health where health_id = #{healthId}
    </delete>

    <delete id="deletePetHealthByHealthIds" parameterType="String">
        delete from tb_pet_health where health_id in 
        <foreach item="healthId" collection="array" open="(" separator="," close=")">
            #{healthId}
        </foreach>
    </delete>

    <!-- 根据宠物ID删除健康记录 -->
    <delete id="deletePetHealthByPetId" parameterType="Long">
        delete from tb_pet_health where pet_id = #{petId}
    </delete>

    <!-- 根据宠物ID批量删除健康记录 -->
    <delete id="deletePetHealthByPetIds" parameterType="Long">
        delete from tb_pet_health where pet_id in
        <foreach item="petId" collection="array" open="(" separator="," close=")">
            #{petId}
        </foreach>
    </delete>
</mapper>